@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<section class="content">

    <div class="container-fluid">
        <div class="container-xl">
            <div class="d-flex justify-content-center mt-4 mb-4" style="overflow: hidden;">
                <video class="w-75" controls="" autoplay="" loop="" preload="metadata" muted=""
                       style="margin-top: -4px; height: calc(100% + 4px);">
                    <source src="/Content/site/videos/ezyassets.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>

    <div class="text-center py-5">
        <h1 class="display-4">พบกับโซลูชั่นของเราเร็วๆ นี้</h1>
    </div>
</section>
